<section class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Categories</h1>
  <div id="groups">
    <% @groups.each do |group| %>
      <%= render group %>
      <p class='spacing'>
        <%= link_to "Show this group", group %>
      </p>
    <% end %>
  </div>
  <%= link_to new_group_path, action: 'go' do %>
    <%= button_tag(type: 'button', class:"waves-effect waves-light btn new_group_btn") do%>
      <i class="material-icons right">done_all</i>New Category
    <%end%>
  <% end %>
</section>
