<section class="container">
  <p style="color: green"><%= notice %></p>
  <%= render @group %>
  <ul class="collection with-header no-space hoverable">
    <li class="collection-header">
      <h4>Total:</h4>
      <span> <%= number_to_currency(@group.expenditures.sum(:amount), unit: '$')%></span>
    </li>
    <%@group.expenditures.each do |group|%>
      <li class="collection-item">
        Expenditure: <%= group.name %> <br>
        Amount: <%= number_to_currency(group.amount, unit: '$') %>
      </li>
    <% end %>
  </ul>
  <div>
    <%= link_to "Back to groups", groups_path %>
  </div>
</section>
