<section class="auth">
  <div class="auth__title_container">
    <i class="material-icons center logo_auth">account_balance_wallet</i>
    <h2>Forgot your password?</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="form__buttons">
      <div class="actions">
        <%= button_tag(type: 'submit', class:"waves-effect waves-light btn home__buttons__btn") do%>
          <i class="material-icons right">lock_open</i>Send me reset password instructions
        </div>
      <%end%>
    </div>
    <p class="form__already_user">Have an account already?</p>
    <div class="form__already_user">
      <%= render "devise/shared/links"%>
    </div>
  </div>
<% end %>
</section>
