<section class="container auth">
  <div class="auth__title_container">
    <i class="material-icons center logo_auth">account_balance_wallet</i>
    <h2>Log in</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="form__buttons">
      <div class="actions">
        <%= button_tag(type: 'submit', class:"waves-effect waves-light btn home__buttons__btn") do%>
          <div>
            <i class="material-icons right">done</i>
            Log in
          </div>
        <%end%>
      </div>
    </div>
    <p class="form__already_user">Don't have an account?</p>
    <div class="form__already_user">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</section>
